- if current_player.space
  %h1
    = current_player.space.name

  %p
    You are currently at
    %strong
      = current_player.space.name

  %p 
    %i
      = current_player.space.description

  %h2 Travel
  - current_player.space.connections.each do |c|
    = form_tag("/world/travel", method: "post") do
      = hidden_field_tag(:connection, c.id)
      = submit_tag("Go #{c.name}")

- else
  %h1 You are lost
  %p
    = link_to 'Restart the game', controller: 'player', action: 'reset'
