- if current_player.space
  .world
    %h1
      = current_player.space.name

    %p
      You are currently at
      %strong
        = current_player.space.name

    %p
      %i
        = current_player.space.description

    %p
      - if nearby_players.length == 1
        There is #{nearby_players.length} person here:
      - else
        There are #{nearby_players.length} people here:
      %ul.nearby-players
        - nearby_players.each do |p|
          %li
            - if p.id == current_player.id
              %strong You!
            - else
              = p.name
            (level #{p.level}, #{p.current_health}/#{p.total_health} health)

    - if nearby_npcs.length > 0
      - if nearby_npcs.length == 1
        %p There is #{nearby_npcs.length} NPC here:
      - else
        %p There are #{nearby_npcs.length} NPCs here:
      %ul.nearby-npcs
        - nearby_npcs.each do |p|
          %li
            = p.name
            (level #{p.level}, #{p.current_health}/#{p.total_health} health)
            - if p.friendly
              (friendly)
            - else
              %strong enemy!
            - if p.attacking
              attacking
              - if p.attacking.id == current_player.id
                %strong you!
              - else
                = p.attacking.name

  .actions
    %h2 Travel
    - current_player.space.connections.each do |c|
      = form_tag("/world/travel", method: "post") do
        = hidden_field_tag(:connection, c.id)
        = button_tag(:disabled => (c.requires_death and c.requires_death.current_health > 0)) do
          Go #{c.name}

    = form_tag("/world/index", method: "get") do
      = submit_tag("Look around again")

    - if nearby_enemies.length > 0
      %h2 Attack
      - nearby_enemies.each do |p|
        = form_tag("/world/attack", method: "post") do
          = hidden_field_tag(:npc, p.id)
          = submit_tag("Attack #{p.name}")

    - if nearby_npcs_selling.length > 0
      %h2 Buy
      - nearby_npcs_selling.each do |p|
        - p.selling.each do |npc_sell|
          = form_tag("/world/buy", method: "post") do
            = hidden_field_tag(:npc_sells, npc_sell.id)
            = button_tag(:disabled => current_player.gold < npc_sell.cost) do
              - if npc_sell.item_type.item_type == "bed"
                Sleep in a bed for #{npc_sell.cost}g
              - else
                Buy one #{npc_sell.item_type.name} from #{p.name} for #{npc_sell.cost}g

    - if nearby_npcs_buying(current_player).length > 0
      %h2 Sell
      - nearby_npcs_buying(current_player).each do |p|
        - p.buying(current_player).each do |npc_buy|
          = form_tag("/world/sell", method: "post") do
            = hidden_field_tag(:npc_buys, npc_buy.id)
            = button_tag do
              Sell one #{npc_buy.item_type.name} to #{p.name} for #{npc_buy.cost}g

- else
  .world
    %h1 You are lost
    %p
      = link_to 'Restart the game', controller: 'player', action: 'reset'
