- if current_player.space
  %h1
    = current_player.space.name

  %p
    You are currently at
    %strong
      = current_player.space.name

  %p
    %i
      = current_player.space.description

  %p
    There are #{nearby_players.length} people here:
    %ul
      - nearby_players.each do |p|
        %li
          - if p.id == current_player.id
            %strong You!
          - else
            = p.name
          (level #{p.level})

  - if nearby_npcs.length > 0
    %p There are #{nearby_npcs.length} NPCs here:
    %ul
      - nearby_npcs.each do |p|
        %li
          = p.name
          (level #{p.level})
          - if p.friendly
            (friendly)
          - else
            %strong enemy!
          - if p.attacking
            attacking
            - if p.attacking.id == current_player.id
              %strong you!
            - else
              = p.attacking.name

  %h2 Travel
  - current_player.space.connections.each do |c|
    = form_tag("/world/travel", method: "post") do
      = hidden_field_tag(:connection, c.id)
      = submit_tag("Go #{c.name}")

  = form_tag("/world/index", method: "get") do
    = submit_tag("Look around again")

  - if nearby_enemies.length > 0
    %h2 Attack
    - nearby_enemies.each do |p|
      = form_tag("/world/attack", method: "post") do
        = hidden_field_tag(:npc, p.id)
        = submit_tag("Attack #{p.name}")

- else
  %h1 You are lost
  %p
    = link_to 'Restart the game', controller: 'player', action: 'reset'
