%h1 Player#index
%p Find me in app/views/player/index.html.erb

= link_to "Restart game", controller: 'player', action: 'reset'

%dl{:class => "character-sheet"}
  %dt Name
  %dd= current_player.name

  %dt Level
  %dd= current_player.level

  %dt Experience
  %dd
    = current_player.xp
    (needs #{current_player.next_level_xp} for level #{current_player.level + 1})

  %dt Health
  %dd
    = current_player.current_health
    \/
    = current_player.total_health

  %dt Mana
  %dd
    = current_player.current_mana
    \/
    = current_player.total_mana

  %dt Inventory (#{current_player.inventory_size})
  %dd
    - if current_player.player_items.length > 0
      %ul
        - current_player.player_items.each do |item|
          %li
            #{item.quantity} x #{item.item_type.name}
            - if item.item_type.can_use?
              = form_tag("/world/use", method: "post") do
                = hidden_field_tag(:player_item, item.id)
                = submit_tag("Use")

    - else
      %i (your inventory is empty)
