%ul
  %li.home
    = link_to 'World', controller: 'world'

  %li.stats
    = link_to @player.name, controller: 'player'
    (level #{@player.level})
    #{@player.current_health}/#{@player.total_health} health