%ul
  %li.space
    - if current_player.space
      = link_to current_player.space.name, controller: 'world'
    - else
      = link_to "You are lost! - reset?", controller: 'player', action: 'reset'

  %li.stats
    = link_to current_player.name, controller: 'player'
    (level #{current_player.level})
    #{current_player.current_health}/#{current_player.total_health} health, #{current_player.gold}g

- if errors
  %ul.errors
    - errors.each do |e|
      %li.error
        = e

- if combat_log
  %ul.combat_log
    - combat_log.each do |e|
      %li.log
        = e
