%ul
  %li.space
    - if current_player and current_player.space
      = link_to current_player.space.name, controller: 'world'
    - else
      = link_to "You are lost! - reset?", controller: 'player', action: 'reset'

  - if current_player
    %li.stats
      = link_to current_player.name, controller: 'player'
      (level #{current_player.level})
      #{current_player.current_health}/#{current_player.total_health} health, #{current_player.gold}g

    %li.stats
      = link_to "Inventory (#{current_player.inventory_size})", controller: 'player'

  %li.score
    - if current_player
      Score: #{current_player.score}
    = link_to "High scores", controller: 'scores'

  - if current_user
    = link_to "Sign out", signout_path
    = current_user.name
    = current_user.inspect
  - else
    = link_to "Sign in with Google google_login", "/auth/google_login"
